{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block search %}

<form class="d-flex" method="GET" action="{{ url_for('views.search_music') }}">
    <input class="form-control me-2" name="query" type="text" placeholder="Search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

{% endblock %}



{% block content %}



<div class="container ">
    <div class="row mt-5">
        <center>
            <div class="row mt-5 ">
                <form method="POST" action="{{ url_for('views.filter_songs') }}">
                    <select class="form-select" name="genre" aria-label="Default select example"
                        style="border: 1px solid black;">
                        <option value="All" selected>Select Song Type</option>
                        <option value="All" name="All">All Songs</option>
                        <option value="Rock" name="Rock"> Rock Songs</option>
                        <option value="POP" name="POP">Pop Songs</option>
                        <option value="Wedding" name="Wedding">Wedding Songs</option>
                        <option value="Emo" name="Emo">Emo Songs</option>
                        <option value="Romentic" name="Romentic">Romentic Songs</option>
                        <option value="Hip-Hop" name="Hip-Hop">Hip-Hop Songs</option>
                    </select>
                    <button type="submit" class="btn btn-primary mt-3">Filter</button>
                </form>
                <h1 class="mt-3" style="font-family: cursive;">
                    <center>{{selected_songs}} Songs </center>
                </h1>

            </div>
        </center>
        {% for song in songs %}
        <div class="col-md-4 mt-5">
            <div class="card ">
                <img src="static/images/music_app_image.jpg" class="card-img-top" alt="music_app_image">
                <div class="card-body " style="border: 2px solid black;">
                    <h5 class="card-title">{{ song.name }}</h5>
                    <p class="card-text">{{ song.singer }}</p>
                    <audio controls style="width: 100%;">
                        <source src="{{ url_for('static', filename='songs/' + song.name) }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>

                    <form method="POST" action="{{ url_for('views.rate_song', song_id=song.id) }}">
                        <div>
                            <label for="rating" class="form-label">Rate this song:</label>
                            <input type="number" name="rating" min="1" max="5">
                            <button type="submit" class="btn btn-primary">Rate</button>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-2"> <a href="{{ url_for('views.lyrics', song_id=song.id) }}"
                                class="btn btn-primary"
                                style="background-color: rgb(232, 78, 109); border-color: rgb(198, 88, 88);">Lyrics</a>
                        </div>

                        <div class="col-md-5" style="margin-top: 5px; ">
                            <h6> Average Rate : {{ song.ratings|round(2) }}</h6>
                        </div>
                        <div class="col-md-5"> <a href="{{ url_for('playlist.add_to_playlist', song_id=song.id) }}"
                                class="btn btn-primary">Add to Playlist</a></div>

                    </div>



                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}