{% extends "base.html" %}

{% block title %} Privacy Policy {% endblock %}


{% block search %} {% endblock %}




{% block content %}


    <div class="container " style="margin-bottom: 100px;">
        <h1>Privacy Policy</h1>
        <p>
            100Pi Labs built the Music Player app as an Ad Supported app. This SERVICE is provided by 100Pi Labs at no cost and is intended for use as is. However, paid purchases can be made from within the app.
        </p>
        <p>
            This page is used to inform website visitors and app users regarding our policies with the collection, use, and disclosure of Personal and non-personal Information if they have decided to use our Service.
        </p>
        <p>
            If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service provided by Music Player. We will not use or share your information with anyone except as described in this Privacy Policy.
        </p>
        <p>
            The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Music Player unless otherwise defined in this Privacy Policy.
        </p>
        <h2>Information Collected and Used</h2>
        <p>
            For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to IP Address. The information that we request is and will be retained by us and used as described in this privacy policy.
        </p>
        <p>
            The app uses third party services that may collect information that can be used to identify you.
        </p>
        <p>
            The app does not collect/use user’s information such as Name, Age, Sex, Phone Number, Address, email address etc.
        </p>
        <p>
            The third party Software’s/SDK’s have been mentioned below and linked to their respective Privacy Policies. By agreeing to the Terms & Conditions/ Privacy Policy of Music Player, you acknowledge to use the services and agree to the privacy policies of the below mentioned SDK’s. Your installation and use of this product involves the collection and use of certain data by third parties, according to the terms set forth on the following third-party privacy policies.
        </p>
        <p>
            Link to privacy policy of third party service providers used by the app:
        </p>
        <ul>
            <li>Google Firebase</li>
            <li>Google AdMob</li>
            <li>Meta Audience Network</li>
            <li>InMobi</li>
            <li>Applovin</li>
            <li>Send Anywhere</li>
            <li>Flurry Analytics</li>
        </ul>
        <h2>Log Data</h2>
        <p>
            We also inform you that whenever you use our Service, in case of an error in the app, we collect data and information on your phone called as Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics. This data is collected to monitor the app’s performance, identify causes for app crashes, and overall improvement of the app. This data can also be sent manually from within the app when the user intends to do so. In such a case that the user voluntarily shares his/her device's log data, he/she will be contacting us by sending a mail to <a href="mailto:patelnujhat114@gmail.com">patelnujhat114@gmail.com</a> . The email id of the sender, the contents of the mail are maintained with utmost confidentiality and are not shared or sold to third parties.
        </p>
        <h2>Cookies</h2>
        <p>
            Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
        </p>   
        </div>


{% endblock %}