{% extends 'base.html' %}

{% block title %} Selected Playlist  {% endblock %}

{% block search %} {% endblock %}



{% block content%}
<div class="container">
    <div class="row">
        {% for song in songs %}
        <div class="card mt-3 mb-3" style="border: 2px solid black;">
            <div class="card-header">
                {{ song.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <audio controls style="width: 100%;">
                        <source src="{{ url_for('static', filename='songs/' + song.name) }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </h5>
                <p class="card-text">{{ song.singer }}</p>
                <form action="{{ url_for('playlist.remove_from_playlist', song_id=song.id, playlist_id=playlist.id) }}" method="post">
                    
                    <button type="submit" class="btn btn-danger ">Remove From Playlist</button>
                </form>

            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}